.wrapper {
  display: block;
  margin-right: 93px;
}

.wrapper__title {
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $hero-text-color;
}

.join {
  @extend %DFlex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}


